header, h2{
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin-left: auto;
    margin-right: auto;
}


li{
    border-radius: 10px 5px 10px;
    border: 1px solid black;
    list-style: none;
    margin-top: 5px;
    width: 26%;
    height: 13%;
    float: right;
}


aside{
    width: 20%;
    
}

section{
    width: 80%;

}


footer{
    float: right;

}

#root{
    display: flex;
    flex-direction: row;

}
