
body{
  background-image: url("https://th.bing.com/th/id/OIG.WqJyFg_F1Bg5d3Ar7BGM?pid=ImgGn");
  background-repeat: no-repeat;
  background-size:cover;    
}

header{
  text-align: center;
}

#logo{
  width: 300px;
  height: 100px;
  margin: 20px auto; /* Centra el logotipo en el medio de la pantalla */
}


main{
  width: auto; /* Cambia a un ancho automático si es necesario */
}

h2 {
  text-align: center;
}

img{
  width: 100px;
  height: 100px;
  display: block;
  margin:0 auto;
  margin-top: 20px;
}


#filtro-orden {
  width: 100%;
  display: flex;    
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap; /* Permite que los elementos se ajusten al ancho de la pantalla */
  
}

 
section label, section select, section button {
  margin: 10px; /* Agrega espacio entre los elementos */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px; /* Tamaño de fuente reducido para dispositivos móviles */
}

h3{
  text-align: center;
}


#root {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flexbox a vertical para dispositivos móviles */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;    
}

button-clear{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

ul{
  text-align: center;

}


.tarjetas{
  border-radius: 10px;
  border: 4px solid black;
  list-style: none;
  margin: 5px;
  height: 700px;
  display: flexbox;
  float: left;
  padding: 5px;
  background-image: linear-gradient(to bottom, #FFB6C1, #a4a4d8);
  flex-direction: column; /* Apila los contenidos verticalmente */
  align-items: center; /* Centra los contenidos verticalmente */
  width: 90%; /* Aprovecha más espacio en la pantalla de dispositivos móviles */
  max-width: 300px; /* Establece un ancho máximo */

}

dl {
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
    
}
  
dd{
  display: flex;
  border-radius: 10px;
  border: 4px solid black;
  margin: 10px; /* Agrega margen entre los elementos */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  background-image: linear-gradient(to bottom, #FFB6C1, #a4a4d8);
  text-align: center;
  max-width: 90%; /* Aprovecha más espacio en la pantalla de dispositivos móviles */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido desbordado */
  text-overflow: ellipsis;
}

.estilo{
  white-space: nowrap;
  text-overflow: ellipsis; /* Agrega la elipsis (...) al final del texto truncado */
  line-height: 1.2; /* Controla la altura de las líneas */
  max-height: 3.6em; /* Limita la altura a aproximadamente 3 líneas */
}



dt{
  display: flex; /* Utiliza flexbox para distribuir el ancho */
  width: 100%; /* Aprovecha el ancho completo de la pantalla de dispositivos móviles */
  text-align: center;
}


#mostrarEstadistica{
  width: 100%;
  text-align: center; /* Centra los elementos en el contenedor horizontalmente */

}


li{
  
  
  display: inline-block;
  list-style: none;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #FFB6C1, #a4a4d8);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  align-items: center;
  justify-content: center;

}
    
.filtered-dt, .filtered-dd {
  width: auto; /* Cambia a un ancho automático si es necesario */
}



footer{
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}